# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Docs
*.md
LICENSE

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
__pycache__
*.pyc
*.pyo
.venv
venv
